$raisin-black: hsla(327, 18%, 43%, 0.986);
$raw-amber: hsl(25, 44%, 39%);
$vanilla: hsl(45, 69%, 81%);
$khaki: hsl(32, 14%, 60%);
$beige: hsl(68, 42%, 90%);

/////////////////////////////
$color_1: hsl(248, 43%, 33%);
$color_2: hsl(248, 26%, 35%);
$color_3: hsl(247, 16%, 57%);
$color_4: hsl(248, 49%, 83%);
$color_5: hsl(248, 100%, 81%);
$color_6: hsl(249, 65%, 22%);