@import "variables";

button {
    background-color: $color_1;
    color: $color_4;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    padding: 0;
}

i {
    margin-right: 4px;
    font-size: 1.1rem;
}

button:hover {
    color: $color_5;
}