@import "variables";
@import "mixins";

#preview-wrapper {
    @include wrapper;
    padding: 0;
    background-color: $color_4;
    color: $color_6;
    width: 800px;
    min-height: 300px;
}

#preview {
    padding: 30px;
    
    img {
        width: 100%;
        margin-top: 30px;
    }
    
    pre, code {
        background-color: white;
        padding: 3px;
        border-radius: 3px;
    }

    td, th {
        border: 2px solid black;
        padding: 3px;
    }

    blockquote {
        border-left: 3px solid black;
        padding-left: 8px;
        margin-left: 15px;
    }
}

@media (max-width: 408px) {
    #preview-wrapper {
        width: 90vw;
    }
}